bin/netcoreapp2.0/*
!bin/netcoreapp2.0/data/
!bin/netcoreapp2.0/editor/
!bin/netcoreapp2.0/sprites/
ThirdParty/stb/*
!ThirdParty/stb/stb.c
!ThirdParty/stb/stb_image.h
!ThirdParty/stb/stb_image_write.h
ThirdParty/gui/*
!ThirdParty/gui/gui.c
!ThirdParty/gui/nuklear.h
Engine/obj
Editor/obj
Game/obj
DataEditor/obj
Editor/log.txt
Game/log.txt
DataEditor/log.txt
.vscode/c_cpp_properties.json
